/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/
h1 {
  color: lightgreen;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.feild {
  color: blue;
}

.todo-tiems {
  color: purple;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  
}

.button {
  color: brown;
  border-radius: 3px;
  
}
